styles.css
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #3498db;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 10px;
  margin-bottom: 16px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 8px;
  cursor: pointer;
  border: none;
  margin-bottom: 10px;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

.added-candies {
  margin-top: 20px;
}

.added-candy {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.added-candy p {
  margin: 0;
}

.added-candy div {
  display: flex;
  align-items: center;
}

.added-candy button {
  background-color: #4caf50;
  color: white;
  padding: 6px;
  cursor: pointer;
  border: none;
  margin-right: 10px;
}

.added-candy button:last-child {
  margin-right: 0;
}

.added-candy button:hover {
  background-color: #45a049;
}

.cart {
  margin-top: 20px;
}

.cart-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.cart-item p {
  margin: 0;
}

.cart-item button {
  background-color: #e74c3c;
  color: white;
  padding: 6px;
  cursor: pointer;
  border: none;
}

.cart-item button:hover {
  background-color: #c0392b;
}

.cart-total {
  margin-top: 10px;
}

.dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.dialog-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}

.dialog-content p {
  margin: 0;
}

.proceed-to-buy {
  background-color: #3498db;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  width: 100%;
}

.proceed-to-buy:hover {
  background-color: #2980b9;
}
